<!DOCTYPE HTML>
{% load i18n %}
<head>
    <meta name="description" content="Opentracks" />
    <meta name="keywords" content="Opentracks" />
    <meta name="author" content="Uggla" />
    <meta charset="UTF-8" />
    <title>Opentracks logbook</title>
    <link rel="stylesheet" href="/s_media/css/960/reset.css" />
    <link rel="stylesheet" href="/s_media/css/960/960.css" />
    <link rel="stylesheet" href="/s_media/css/960/text.css" />
    <link rel="stylesheet" type="text/css" href="/s_media/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/s_media/css/jquery-ui-1.9.1.custom.min.css" />
    <link rel="stylesheet" type="text/css" href="/s_media/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="/s_media/css/datatable.css" />
    <script type="text/javascript" src="/s_media/js/jquery-1.7.2.min.js"></script> 
    <script type="text/javascript" src="/s_media/js/jquery-ui-1.9.1.custom.min.js"></script> 
    <script type="text/javascript" src="/s_media/js/jquery.tablesorter.min.js"></script> 
    <script type="text/javascript" src="/s_media/js/jquery.dataTables.min.js"></script> 
    <script type="text/javascript" src="/s_media/js/datepicker.js"></script>
    <script type="text/javascript" src="/s_media/js/raphael-min.js"></script>
    <script type="text/javascript" src="/s_media/js/g.raphael-min.js"></script>
    <script type="text/javascript" src="/s_media/js/g.bar-min.js"></script>
    <script type="text/javascript" src="/s_media/js/g.line-min.js"></script>
    <script type="text/javascript" src="/s_media/js/g.pie-min.js"></script>

    <script type="text/javascript">
        $(document).ready(OnReady);

        function OnReady(){
            function debugmsg(type,msg){
                if (window.console)
                    {
                    switch (type)
		        {
		    	case "info": console.info(msg);
				     break;
		    	case "log": console.log(msg);
				     break;
		    	case "debug": console.debug(msg);
				     break;
		    	case "warn": console.warn(msg);
				     break;
		    	case "error": console.error(msg);
				     break;
		    	case "group": console.group(msg);
				     break;
		    	case "groupend": console.groupEnd(msg);
				     break;
		    	case "count": console.count(msg);
				     break;
		        }
                    }
            }

            function breakpoint(fn){
                if (window.console)
                    {
			debug(fn);
		    }
	    }

	    debugmsg("info","Hello to the console");

            {% block onready%}
            {% endblock %}
        }
    </script>

    {% block script%}
    {% endblock %}
</head>
<body>
<div id="container" class="container_12">

	<div id="header">
	{% block header%}
	    {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
                <p><a class="logout" href="{% url logout %}">Logout.</a></p>
            {% else %}
                <p>Welcome, new user. Please log in.</p>
            {% endif %}
	{% endblock %}
	</div>

	<div id="title" class="grid_12">
		<h1>Opentracks logbook</h1>
	</div>

	{% block menu%}
	<div id="menu" class="grid_12">
		<ul id="menu_level1">
			<li>
			<a class="" href="{% url activity %}">{% trans "Activity" %}</a>
				<ul id="menu_activity">
					<li><a class="" href="{% url public_activities %}">{% trans "List all public activities" %}</a></li>
					<li><a class="" href="">{% trans "List all my activities" %}</a></li>
					<li><a class="" href="{% url show_today_activity %}">{% trans "Show today activity" %}</a></li>
				</ul>
			</li>
			<li><a class="" href="">{% trans "Equipment" %}</a></li>
			<li><a class="" href="">{% trans "Athlete" %}</a></li>
			<li><a class="" href="">{% trans "Training load" %}</a></li>
			<li><a class="" href="">{% trans "Reports" %}</a></li>
			<li><a class="" href="">{% trans "Import / Export" %}</a></li>
			<li><a class="" href="">{% trans "Settings" %}</a></li>
			<li><a class="" href="">{% trans "Help" %}</a></li>
		</ul>
	</div>
	{% endblock %}

	<div id="subtitle">
	{% block subtitle%}
	{% endblock %}
	</div>

	<div id="trunk">
	{% block trunk%}
	{% endblock %}
	</div>

	<div id="tables">
	{% block tables %}
	{% endblock %}
	</div>

	<div id="maps">
	{% block maps %}
	{% endblock %}
	</div>
	
	<div id="charts">
	{% block charts %}
	{% endblock %}
	</div>

	<div id="footer">
	{% block footer %}
	{% endblock %}
	</div>
</div>
</body>


</html>
