<!DOCTYPE HTML>
{% load i18n %}
<head>
    <meta name="description" content="Opentracks" />
    <meta name="keywords" content="Opentracks" />
    <meta name="author" content="Uggla" />
    <meta charset="UTF-8" />
    <title>Opentracks logbook</title>
    <link rel="icon" type="image/png" href="/s_media/images/favicon.png">
    <link rel="stylesheet" href="/s_media/css/960/reset.css" />
    <link rel="stylesheet" href="/s_media/css/960/960.css" />
    <link rel="stylesheet" href="/s_media/css/960/text.css" />
    <link rel="stylesheet" type="text/css" href="/s_media/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/s_media/css/jquery-ui-1.9.1.custom.min.css" />
    <link rel="stylesheet" type="text/css" href="/s_media/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="/s_media/css/datatable.css" />
    <script type="text/javascript" src="/s_media/js/jquery-1.7.2.min.js"></script> 
    <script type="text/javascript" src="/s_media/js/jquery-ui-1.9.1.custom.min.js"></script> 
    <script type="text/javascript" src="/s_media/js/jquery.dataTables.min.js"></script> 
    <script type="text/javascript" src="/s_media/js/datepicker.js"></script>
    <script type="text/javascript" src="/s_media/js/raphael-min.js"></script>
    <script type="text/javascript" src="/s_media/js/g.raphael-min.js"></script>
    <script type="text/javascript" src="/s_media/js/g.bar-min.js"></script>
    <script type="text/javascript" src="/s_media/js/g.line-min.js"></script>
    <script type="text/javascript" src="/s_media/js/g.pie-min.js"></script>

    <script type="text/javascript">
        $(document).ready(OnReady);
        function OnReady(){

	    debugmsg("info","Hello to the console");

            {% block onready%}
            {% endblock %}
        }
        
        function debugmsg(type,msg){
                if (window.console)
                    {
                    switch (type)
		        {
		    	case "info": console.info(msg);
				     break;
		    	case "log": console.log(msg);
				     break;
		    	case "debug": console.debug(msg);
				     break;
		    	case "warn": console.warn(msg);
				     break;
		    	case "error": console.error(msg);
				     break;
		    	case "group": console.group(msg);
				     break;
		    	case "groupend": console.groupEnd(msg);
				     break;
		    	case "count": console.count(msg);
				     break;
		        }
                    }
            }

            function breakpoint(fn){
                if (window.console)
                    {
			debug(fn);
		    }
	    }
    </script>

    <script type="text/javascript">
    jQuery(document).ajaxSend(function(event, xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function sameOrigin(url) {
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }
        function safeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
    
        if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    });
    </script>

    {% block script%}
    {% endblock %}
</head>
<body>
<div id="container" class="container_12">

	<div id="header">
	{% block header%}
	    {% if user.is_authenticated %}
                <p>{% trans "Welcome" %}, {{ user.username }}. {% trans "Thanks for logging in" %}.</p>
                <p><a class="logout" href="{% url logout %}">Logout.</a></p>
            {% else %}
                <p>{% trans "Welcome, new user" %}. {% trans "Please" %} <a href="{% url login %}">{% trans "log in" %}</a>.</p>
            {% endif %}
	{% endblock %}
	</div>

	<div id="title" class="grid_12">
		<h1>Opentracks logbook</h1>
	</div>

	{% block menu%}
	<div id="menu" class="grid_12">
		<ul id="menu_level1">
			<li>
			<a class="" href="{% url activity %}">{% trans "Activity" %}</a>
				<ul id="menu_activity">
					<li><a class="" href="{% url public_activities %}">{% trans "List all public activities" %}</a></li>
					<li><a class="" href="">{% trans "List all my activities" %}</a></li>
					<li><a class="" href="{% url show_today_activity %}">{% trans "Show today activity" %}</a></li>
				</ul>
			</li>
			<li><a class="" href="">{% trans "Equipment" %}</a></li>
			<li><a class="" href="">{% trans "Athlete" %}</a></li>
			<li><a class="" href="">{% trans "Training load" %}</a></li>
			<li><a class="" href="">{% trans "Reports" %}</a></li>
			<li><a class="" href="">{% trans "Import / Export" %}</a></li>
			<li><a class="" href="">{% trans "Settings" %}</a></li>
			<li><a class="" href="">{% trans "Help" %}</a></li>
		</ul>
	</div>
	{% endblock %}

	<div id="subtitle">
	{% block subtitle%}
	{% endblock %}
	</div>

	<div id="trunk">
	{% block trunk%}
	{% endblock %}
	</div>

	<div id="tables">
	{% block tables %}
	{% endblock %}
	</div>

	<div id="maps">
	{% block maps %}
	{% endblock %}
	</div>
	
	<div id="charts">
	{% block charts %}
	{% endblock %}
	</div>

	<div id="footer">
	{% block footer %}
	{% endblock %}
	</div>
</div>
</body>


</html>
