{% extends "ot_logbook/base.html" %}
{% load i18n %}

{% block onready %}

// Initialization
$('#column_selector_button').button({
            icons: {
                primary: "ui-icon-triangle-1-e"
            },
        });

$('#column_selector').hide();

$('#column_selector').buttonset();

$(":checkbox").attr("autocomplete", "off");  // Fix firefox reload "bug" http://stackoverflow.com/questions/299811/why-does-the-checkbox-stay-checked-when-reloading-the-page


// End initialization

// Manage fields selection
$('#column_selector_button').click(function(){
     if($('#column_selector_button').button( "option", "icons" ).primary == "ui-icon-triangle-1-e"){
         $('#column_selector_button').button( "option", "icons", { primary: "ui-icon-triangle-1-s" } );
     }else{
         $('#column_selector_button').button( "option", "icons", { primary: "ui-icon-triangle-1-e" } );
     }
     $('#column_selector').toggle("blind");
     });


$('#column_selector_savebutton').click(get_visible_fields);


// End manage fields selection

// Datatable
$('#datatable').dataTable( {
		    "iDisplayLength": 50,
                    "sPaginationType": "full_numbers",
                    "aoColumnDefs": [
                        {% for field in fields %}
                            {% if field in visible_fields %}
                                { "bVisible": true, "aTargets": [ {{ forloop.counter0 }} ] },
                            {% else %}
                                { "bVisible": false, "aTargets": [ {{ forloop.counter0 }} ] },
                            {% endif %}
                        {% endfor %}
                    ] } );
{% endblock %}
{% block script %}
<script type="text/javascript">
function fnShowHide( iCol )
	{
	var oTable = $('#datatable').dataTable();
	var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
	oTable.fnSetColumnVis( iCol, bVis ? false : true );
	}

function get_visible_fields()
	{
        visible_fields = new Array();
	$('#column_selector input').each(function(index){
		debugmsg("debug",index);
		debugmsg("debug",$(this).attr("checked"));
                if ($(this).attr("checked")=="checked"){
	  		visible_fields.push($(this).attr("id").replace("f_",""));
		    }

		});
	debugmsg("debug",visible_fields);
        $.post("{% url public_activities %}",{ 'visible_fields' : visible_fields.join(',') },visible_fields_saved,"json");
        //$.post("{% url public_activities %}");
	}

function visible_fields_saved(result)
	{
	debugmsg("debug","Saved");
	debugmsg("debug",result);
	}
</script>
{% endblock %}

{% block subtitle%}
    <h2>{% trans "Public activities list" %}</h2>
{% endblock %}

{% block trunk%}
{% endblock %}


{% block tables%}
    <p>
        <button id="column_selector_button">{% trans "Select columns" %}</button>
    <div id="column_selector">
        <p>
        {% for field in fields %}
            {% if field in visible_fields %}
                <input type="checkbox" id="f_{{ field }}" href="javascript:void(0);" onclick="fnShowHide({{ forloop.counter0 }});" checked/><label for="f_{{ field }}">{{ field }}</label>
            {% else %}
                <input type="checkbox" id="f_{{ field }}" href="javascript:void(0);" onclick="fnShowHide({{ forloop.counter0 }});"/><label for="f_{{ field }}">{{ field }}</label>
            {% endif %}
        {% endfor %}
        </p>
        {% if user.is_authenticated %}
        <p>
        <button id="column_selector_savebutton">{% trans "Save visible columns" %}</button>
	</p>
        {% endif %}
    </div>
    </p>

    <table cellpadding="0" cellspacing="0" border="0" class="display" id="datatable" width="100%">
    <thead><tr>
    {% for field in fields %}
    <th>{{ field }}</th>
    {% endfor %}
    </tr></thead>

    <tbody>
    {% for activity in activities %}
        <tr>
        {% for value in activity.get_all_fields_values %}
            {% if forloop.counter == 6 %}
                <td><a href="/logbook/{{ activity.id }}/">{{ value }}</a></td>
            {% else %}
                <td>{{ value }}</td>
            {% endif %}
        {% endfor %}
        </tr>
    {% empty %}
        {% trans "There is no public activity." %}
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
