{% extends "ot_logbook/base.html" %}
{% load i18n %}

{% block onready%}
{% include "ot_logbook/widget/datepicker_onready.html" %}
{% include "ot_logbook/widget/datatable_onready.html" %}
initmap();
{% endblock %}


{% block script%}
{% include "ot_logbook/widget/datatable_script.html" %}

<script type="text/javascript">
var map;
var ajaxRequest;
var plotlist;
var plotlayers=[];

function initmap() {
        {% if selected_activity != "" %}
	// Set up the map
	map = new L.Map('map');

	// Create the tile layer with correct attribution
	var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
	var osmAttrib='Map data © OpenStreetMap contributors';
	var osm = new L.TileLayer(osmUrl, {attribution: osmAttrib});		
	L.Icon.Default.imagePath = '/s_media/css/images';

	// Start the map center on the first point of our activity
	map.setView(new L.LatLng({{ selected_activity.startlat }}, {{ selected_activity.startlon }}),12);
	map.addLayer(osm);
      
        // Add startpoint
	var marker = L.marker([{{ selected_activity.startlat }}, {{ selected_activity.startlon }}]).addTo(map);

	// Add track.
	var trackcoords = JSON.parse("{{ selected_activity.trackcoords }}");
        //debugmsg("debug",trackcoords);
        var track = L.polyline(trackcoords).addTo(map);
        {% endif %}
}
</script>
{% endblock %}

{% block subtitle%}
    <h2>{% trans "Show today activities" %}</h2>
{% endblock %}

{% block calendar%}
<p id="datepicker"></p>
{% endblock %}


{% block tables%}
{% include "ot_logbook/widget/datatable_tableselector.html" %}
    <table class="display" id="datatable">
    <thead><tr>
    {% for field in fields %}
    <th>{{ field }}</th>
    {% endfor %}
    </tr></thead>

    <tbody>
    {% for activity in activities_in_table %}
        <tr>
        {% for value in activity.get_all_fields_values %}
            {% if forloop.counter == 6 %}
                <td><a href="{% url show_date_activity activity.datetime|date:"Y-m-d" activity.id %}">{{ value }}</a></td>
            {% else %}
                <td>{{ value }}</td>
            {% endif %}
        {% endfor %}
        </tr>
    {% empty %}
        {% trans "There is no activity." %}
    {% endfor %}
    </tbody>
    </table>

<br><br>
{% endblock %}

{% block trunk%}
    {% if selected_activity != "" %}
	<div id="activity_details">
        {% trans "Activity" %} {{ selected_activity.id }} {% trans "details :" %}


	<div id="map"></div>
	</div>

	

    {% endif %}
{% endblock %}
