{% extends "ot_logbook/base.html" %}
{% load i18n %}

{% block onready%}
{% include "ot_logbook/widget/datepicker_onready.html" %}
{% include "ot_logbook/widget/datatable_onready.html" %}
initmap();
initchart();
{% endblock %}


{% block script%}
{% include "ot_logbook/widget/datatable_script.html" %}

<script type="text/javascript">
var map;

function initmap() {
        {% if selected_activity != "" %}
	// Set up the map
	map = new L.Map('map');

	// Create the tile layer with correct attribution
	var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
	var osmAttrib='Map data © OpenStreetMap contributors';
	var osm = new L.TileLayer(osmUrl, {attribution: osmAttrib});		
	L.Icon.Default.imagePath = '/s_media/css/images';

	// Start the map center on the first point of our activity
	map.setView(new L.LatLng({{ selected_activity.startlat }}, {{ selected_activity.startlon }}),12);
	map.addLayer(osm);
      
        // Add startpoint
	var marker = L.marker([{{ selected_activity.startlat }}, {{ selected_activity.startlon }}]).addTo(map);

	// Add track.
	var trackcoords = JSON.parse("{{ selected_activity.trackcoords }}");
        //debugmsg("debug",trackcoords);
        var track = L.polyline(trackcoords).addTo(map);
        {% endif %}
}

function initchart() {
        {% if selected_activity != "" %}
	var r = Raphael("holder",960,480),
        txtattr = { font: "12px sans-serif" };
                
        var x = [], y = [];
        x={{ selected_activity.distance }};
	y={{ selected_activity.speed }};

        r.text(470, 10, "Symbols, axis and hover effect").attr(txtattr);

        var lines = r.linechart(20, 20, 920, 440, x, y, { nostroke: false, axis: "0 0 1 1", smooth: false }).hoverColumn(function () {
        this.tags = r.set();

        for (var i = 0, ii = this.y.length; i < ii; i++) {
            this.tags.push(r.tag(this.x, this.y[i], this.values[i], 160, 10).insertBefore(this).attr([{ fill: "#fff" }, { fill: this.symbols[i].attr("fill") }]));
        }
        }, function () {
            this.tags && this.tags.remove();
           });

        lines.symbols.attr({ r: 6 });

        {% endif %}
}

</script>
{% endblock %}

{% block subtitle%}
    <h2>{% trans "Show today activities" %}</h2>
{% endblock %}

{% block calendar%}
<p id="datepicker"></p>
{% endblock %}


{% block tables%}
{% include "ot_logbook/widget/datatable_tableselector.html" %}
    <table class="display" id="datatable">
    <thead><tr>
    {% for field in fields %}
    <th>{{ field }}</th>
    {% endfor %}
    </tr></thead>

    <tbody>
    {% for activity in activities_in_table %}
        <tr>
        {% for value in activity.get_all_fields_values %}
            {% if forloop.counter == 6 %}
                <td><a href="{% url show_date_activity activity.datetime|date:"Y-m-d" activity.id %}">{{ value|date:"Y-m-d H:i:s" }}</a></td>
            {% else %}
                <td>{{ value }}</td>
            {% endif %}
        {% endfor %}
        </tr>
    {% empty %}
        {% trans "There is no activity." %}
    {% endfor %}
    </tbody>
    </table>

<br><br>
{% endblock %}

{% block trunk%}
    {% if selected_activity != "" %}
	<div id="activity_details">
        {% trans "Activity" %} {{ selected_activity.id }} {% trans "details :" %}
	</div>


	<div id="map"></div>
	<br><br>

        <div id="holder"></div>

	<br><br>
	Bla bla	

    {% endif %}
{% endblock %}
