{% extends "ot_logbook/base.html" %}
{% load i18n %}

{% block onready%}
{% include "ot_logbook/widget/datepicker_onready.html" %}
{% include "ot_logbook/widget/datatable_onready.html" %}
{% endblock %}


{% block script%}
{% include "ot_logbook/widget/datatable_script.html" %}
{% endblock %}

{% block subtitle%}
    <h2>{% trans "Show today activities" %}</h2>
{% endblock %}

{% block calendar%}
<p id="datepicker"></p>
{% endblock %}


{% block tables%}
{% include "ot_logbook/widget/datatable_tableselector.html" %}
    <table class="display" id="datatable">
    <thead><tr>
    {% for field in fields %}
    <th>{{ field }}</th>
    {% endfor %}
    </tr></thead>

    <tbody>
    {% for activity in activities_in_table %}
        <tr>
        {% for value in activity.get_all_fields_values %}
            {% if forloop.counter == 6 %}
                <td><a href="{% url show_date_activity activity.datetime|date:"Y-m-d" activity.id %}">{{ value }}</a></td>
            {% else %}
                <td>{{ value }}</td>
            {% endif %}
        {% endfor %}
        </tr>
    {% empty %}
        {% trans "There is no activity." %}
    {% endfor %}
    </tbody>
    </table>

<br><br>
{% endblock %}

{% block trunk%}
    {% if selected_activity != "" %}

        {% trans "Activity" %} {{ selected_activity.id }} {% trans "details :" %}

    {% endif %}
{% endblock %}
